
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');



* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


html,body { 

  margin: auto center;
} 



html{
  overflow-x: hidden;
  margin: 0 auto;
}


body {
   
    height: 2500px;
    width: 100%;
    min-width: 1366px;
    
    padding: 0; 
    margin: 0 auto;
    background: #131313;
    
  }

  
  .homebutton {
    
    font-size: medium;
    position: absolute;
    right:0;
   
    margin-left:auto;
    margin-right:auto;
    width: 172px;
    height: 49px;
    left: -305px;
    top: 0px;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    justify-content:center;
    align-items: center;
    display: flex;
    background-color: rgba(0,0,0,.5);
    box-shadow: inset 0 0 0 0 black;
    
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration: none;
    
    color: #0087ca;
    
  }

  .homebutton:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #8C0D07;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
  }
  


  .homebutton:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }



  .certificationbutton{
   
    font-size: medium;
    right:0;
   
    margin-left:auto;
    margin-right:auto;
    position: absolute;
    width: 171px;
    height: 49px;
    left: 37px;
    top: 0px;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    text-decoration:none;

    font-family: 'Muli', sans-serif;
    cursor: pointer;
    justify-content:center;
    align-items: center;
    display: flex;
    box-shadow: inset 0 0 0 0 black;
    
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    
  }

  .certificationbutton:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #8C0D07;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
  }
  


  .certificationbutton:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }

 
  .worksbutton{

    font-size: medium;
    font-family: 'Muli', sans-serif;
    cursor: pointer;
    justify-content:center;
    align-items: center;
    display: flex;
    right:0;
   
    margin-left:auto;
    margin-right:auto;

    position: absolute;
    width: 172px;
    height: 49px;
    left: 380px;
    top: 0px;
    text-align: center;
    background-color: rgba(0,0,0,.5);

    box-shadow: inset 0 0 0 0 black;
    
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    
    
   
    
  }


  .worksbutton:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #8C0D07;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
  }
  


  .worksbutton:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }

  .text1-div{

  position: absolute;
  min-width: 600px;
  min-height: 36px;
  left: -700px;
  top: 161px;
  right:0;
   
  margin-left:auto;
  margin-right:auto;
  text-align-last: center;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  /* identical to box height */
  
  
  color: #FFFFFF;
  }


  .text2-div{

    position: absolute;
    width: 360px;
    height: 38px;
    left: -710px;
    top: 215px;
    text-align-last: center;
    right:0;
   
    margin-left:auto;
    margin-right:auto;

    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;

    color: #FFFFFF;
    }


    .text3-div{

      position: absolute;
      width: 478px;
      height: 44px;
      left: -708px;
      top: 330px;
      text-align-last: center;

      font-family: 'Muli', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 36px;
      right:0;
   
      margin-left:auto;
      margin-right:auto;

      color: #FFFFFF;
      }
  
      .text4-div{
        position: absolute;
        width: 537px;
        height: 80px;
        left: -610px;
        top: 630px;
        right:0;
   
        margin-left:auto;
        margin-right:auto;
        
        font-family: 'Quicksand', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 36px;
        
        color: #FFFFFF;
        }


        .text5-div{
          z-index: 1 ;
          position: absolute;
          width: 401px;
          height: 112px;
          left: -396px; 
          top: 855px;
          right:0;
   
          margin-left:auto;
          margin-right:auto;

          font-family: 'Quicksand', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 60px;
          line-height: 56px;
          text-align: center;

          color: #000000;

          }

          .text6-div{
            z-index: 1 ;
            position: absolute;
            width: 401px;
            height: 112px;
            left: 383px;
            top: 1235px;
            right:0;
   
            margin-left:auto;
            margin-right:auto;

            font-family: 'Quicksand', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 60px;
            line-height: 56px;
            text-align: center;

            color: #000000;

            }
  

            .text7-div{
              z-index: 1 ;
              position: absolute;
              width: 401px;
              height: 112px;
              left: -396px; 
              top: 1687px;
              right:0;
   
              margin-left:auto;
              margin-right:auto;

              font-family: 'Quicksand', sans-serif;
              font-style: normal;
              font-weight: 700;
              font-size: 60px;
              line-height: 56px;
              text-align: center;

              color: #000000;
  
              }


              .text8-div{
                z-index: 1 ;
                position: absolute;
                width: 401px;
                height: 112px;
                left: 383px;
                top: 2093px;
                right:0;
   
                margin-left:auto;
                margin-right:auto;
                font-family: 'Quicksand', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 60px;
                line-height: 56px;
                text-align: center;

                color: #000000;
                }
  



  .rectangle1-div {
    box-sizing: border-box;

    position: absolute;
    min-width: 1465px;
    height: 49px;
    width:100%;
    left: -10px;
    top: 0px;
    font-family: 'Muli', sans-serif;
  
    background-color: Black;
    
    
  }

  .rectangle2-div {
    
    z-index:-1; /*position of rectangle send to back*/

    position: absolute;
    min-height: 997px;
    height:50%;
    min-width: 4453px;
    width:100%;
    left: -997px;
    top: -53px;
    right:0;
   
    margin-left:auto;
    margin-right:auto;

    top: -455px;
    background: linear-gradient(90deg, #040404 6.04%, rgba(0.25, 0.25, 0.25, 0.25) 80%);
    
    
   
  }


  .rectangle3-div { /*THE ANSWER!*/ 
    
    left: -205px;
    top: 756px;
    background: whitesmoke;

    width: 582px;
    height: 309px;
    position:relative;
    right:0;
   
    margin-left:auto;
    margin-right:auto;
  }

  .rectangle4-div {
    position: absolute;
    width: 582px;
    height: 309px;
    left: 376px;
    top: 1172px;
    right:0;
   
    margin-left:auto;
    margin-right:auto;

    background: whitesmoke;
  }

  .rectangle5-div {
    position: absolute;
    width: 582px;
    height: 309px;
    left: -385px;
    top: 1588px;
    right:0;
   
    margin-left:auto;
    margin-right:auto;

    background: whitesmoke;
  }

  .rectangle6-div
   {
    position: absolute;
    width: 582px;
    height: 309px;
    left: 376px;
    top: 2004px;
    right:0;
   
    margin-left:auto;
    margin-right:auto;
    
    background: whitesmoke;
  } 


  .recpic1-div{
    position: absolute;
    left: 765px;
    top: 756px;
    
    right:0;
    
    margin-left:auto;
    margin-right:auto;
  }

  .imgVs{
    position: absolute;
    right:0;
    left:-1300px;
    margin-left:auto;
    margin-right:auto;
    top: 0px;
    max-width: 100px;
    max-height: 50px

  }

  .imgcomserve{
    position: absolute;
    left: -205px;
    width: 391px;
    height: 309px;
    right:0;
    margin-left:auto;
    margin-right:auto;

  }

  .imglinkedln{
    position: absolute;
    left: 880px;
    top: 9px;
    max-width: 60px;
    max-height: 30px;
    right:0;
   
    margin-left:auto;
    margin-right:auto;
    

  }


  .imglinkedln:hover{
    
    
      transform: rotate(0deg) skew(0deg) translate(0, -2px);
  }

  

  .imgfacebook{
    right:0;
   
    margin-left:auto;
    margin-right:auto;
    position: absolute;
    left: 1020px;
    top: 8px;
    max-width: 80px;
    max-height: 35px;
    

  }
 
  .imgfacebook:hover{
    
    transform: rotate(0deg) skew(0deg) translate(0, -2px);

  }
  .recpic2-div {
    position: absolute;
    
    right:0;
   
    margin-left:auto;
    margin-right:auto;
    
    left: 185px;
    top: 1172px;

    
  }

  .imgcoding{
    position: absolute;
    
    right:0;
    left: -765px;
    margin-left:auto;
    margin-right:auto;
    width: 391px;
    height: 309px;
  }


  .recpic3-div {
    position: absolute;
    right:0;
    margin-left:auto;
    margin-right:auto;

    left: 767px;
    top: 1588px;
  }

  .imgtesting{
    position: absolute;
    width: 391px;
    height: 309px;
    left: -207px;
    right:0;
    margin-left:auto;
    margin-right:auto;

  }


  .recpic4-div {
    position: absolute;
    right:0;
    margin-left:auto;
    margin-right:auto;
  
    
    left: 185px;
    top: 2004px;

    
  }

  .imgarduino{
    position: absolute;
    min-width: 391px;
    max-height: 309px;
    right:0;
    margin-left:auto;
    margin-right:auto;
    left: -765px;
  }

  
  .picture1-div {
    z-index:-4;

    left: 0;
    top: -408px;
    position:relative;
    right:0;
   
    margin-left:auto;
    margin-right:auto;
    
   
    background-repeat: no-repeat;
    box-sizing: border-box;

   
    
    background-position: center center;
    text-align:center;
   
  
  }


  .imgpcb{
    min-width: 1364px;
    width:100%;
    max-height: 641px;
  }


  .picture2-div {
    position: absolute;
    width: 413px;
    height: 490px;
    left: 550px;
    top: 52px;
    right:0;
   
    margin-left:auto;
    margin-right:auto;
   
    
    background: url(chosen_13_BOCANOG_VERLANNE_PAUL_89201-removebg-preview.png);
  }


  .btn-hover {

    position: relative;
    right:0;
   
    margin-left:auto;
    margin-right:auto;
    width: 200px;
    font-size: 16px;
    font-weight: 600;

    left: 570px;
    top: 440px;
    color: #fff;
    
    height: 55px;
  
   
    background-size: 300% 100%;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    justify-content:center;
    align-items: center;
    display: flex;
    

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}


.btn-hover.color-8 {
  right:0;
   
  margin-left:auto;
  margin-right:auto;

  position: absolute;
  width: 289px;
  height: 35px;
  left: -720px;
  top: 390px;
  background-image: linear-gradient(to right, #29323c, #485563, #202020, #8C0D07);
  box-shadow: 0 4px 15px 0 rgba(11, 12, 12, 0.75);
  
}



  /*.buttoncv {

    position: absolute;
    width: 289px;
    height: 35px;
    left: 170px;
    top: 440px;
    text-align: center;
    transition-duration: 0.4s;
    
    cursor: pointer;
    font-family: Tahoma;
    justify-content:center;
    align-items: center;
    display: flex;

    background: #FFFFFF;
    
  }


  .buttoncv:hover {
    
    background-color: gray;
    color: white;
    
  }*/


  @media only screen and (min-width:800px) {
    /* For tablets: */
    .homebutton {
    
      width:90%;
      height:90%;

      
    }
  
    .homebutton:after {
      width:90%;
      height:90%;
    }
    
  
  
    .homebutton:hover:after {
      transform: scaleX(1);
      transform-origin: bottom center;
    }
  
  
  
    .certificationbutton{
     
      width:90%;
      height:90%;
    }
  
    .certificationbutton:after {
      width:90%;
      height:90%;
    }
    
  
  
    .certificationbutton:hover:after {
      transform: scaleX(1);
      transform-origin: bottom center;
    }
  
   
    .worksbutton{
  
      width:90%;
      height:90%;
      
      
     
      
    }
  
  
    .worksbutton:after {
      width:90%;
      height:90%;
    }
    
  
  
    .worksbutton:hover:after {
      transform: scaleX(1);
      transform-origin: bottom center;
    }
  
    .text1-div{
  
      width:90%;
      height:90%;
    }
  
  
    .text2-div{
  
      width:90%;
      height:90%;
      }
  
  
      .text3-div{
  
        width:90%;
        height:90%;
        }
    
        .text4-div{
          width:90%;
      height:90%;
          }
  
  
          .text5-div{
            width:90%;
            height:90%;
  
            }
  
            .text6-div{
              width:90%;
              height:90%;
  
              }
    
  
              .text7-div{
                width:90%;
                height:90%;
    
                }
  
  
                .text8-div{
                  width:90%;
                  height:90%;
                  }
    
  
  
  
    .rectangle1-div {
      width:90%;
      height:90%;
      
      
    }
  
    .rectangle2-div {
      
      width:90%;
      height:90%;
      
      
     
    }
  
  
    .rectangle3-div { /*THE ANSWER!*/ 
      
      width:90%;
      height:90%;
    }
  
    .rectangle4-div {
      width:90%;
      height:90%;
    }
  
    .rectangle5-div {
      width:90%;
      height:90%;
    }
  
    .rectangle6-div
     {
      width:90%;
      height:90%;
    } 
  
  
    .recpic1-div{
      width:90%;
      height:90%;
    }
  
    .imgVs{
      width:90%;
      height:90%;
  
    }
  
    .imgcomserve{
      width:90%;
      height:90%;
  
    }
  
    .imglinkedln{
      width:90%;
      height:90%;
  
    }
  
  
    .imglinkedln:hover{
      
      
        transform: rotate(0deg) skew(0deg) translate(0, -2px);
    }
  
    
  
    .imgfacebook{
      width:90%;
      height:90%;
      
  
    }
   
    .imgfacebook:hover{
      
      transform: rotate(0deg) skew(0deg) translate(0, -2px);
  
    }
    .recpic2-div {
      width:90%;
      height:90%;
  
      
    }
  
    .imgcoding{
      width:90%;
      height:90%;
    }
  
  
    .recpic3-div {
      width:90%;
      height:90%;
    }
  
    .imgtesting{
      width:90%;
      height:90%;
  
    }
  
  
    .recpic4-div {
      width:90%;
      height:90%;
  
      
    }
  
    .imgarduino{
      width:90%;
      height:90%;
    }
  
    
    .picture1-div {
      width:90%;
      height:90%;
    
    }
  
  
    .imgpcb{
      width:90%;
      height:90%;
    }
  
  
    .picture2-div {
      width:90%;
      height:90%;
    }
  
  
    .btn-hover {
  
      width:90%;
      height:90%;
  }
  
  .btn-hover:hover {
      background-position: 100% 0;
      -moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
  }
  
  .btn-hover:focus {
      outline: none;
  }
  
  
  .btn-hover.color-8 {
    width:90%;
      height:90%;
    
  }
  
  
  
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .homebutton {
    
      width:90%;
      height:90%;

      
    }
  
    .homebutton:after {
      width:90%;
      height:90%;
    }
    
  
  
    .homebutton:hover:after {
      transform: scaleX(1);
      transform-origin: bottom center;
    }
  
  
  
    .certificationbutton{
     
      width:90%;
      height:90%;
    }
  
    .certificationbutton:after {
      width:90%;
      height:90%;
    }
    
  
  
    .certificationbutton:hover:after {
      transform: scaleX(1);
      transform-origin: bottom center;
    }
  
   
    .worksbutton{
  
      width:90%;
      height:90%;
      
      
     
      
    }
  
  
    .worksbutton:after {
      width:90%;
      height:90%;
    }
    
  
  
    .worksbutton:hover:after {
      transform: scaleX(1);
      transform-origin: bottom center;
    }
  
    .text1-div{
  
      width:90%;
      height:90%;
    }
  
  
    .text2-div{
  
      width:90%;
      height:90%;
      }
  
  
      .text3-div{
  
        width:90%;
        height:90%;
        }
    
        .text4-div{
          width:90%;
      height:90%;
          }
  
  
          .text5-div{
            width:90%;
            height:90%;
  
            }
  
            .text6-div{
              width:90%;
              height:90%;
  
              }
    
  
              .text7-div{
                width:90%;
                height:90%;
    
                }
  
  
                .text8-div{
                  width:90%;
                  height:90%;
                  }
    
  
  
  
    .rectangle1-div {
      width:90%;
      height:90%;
      
      
    }
  
    .rectangle2-div {
      
      width:90%;
      height:90%;
      
      
     
    }
  
  
    .rectangle3-div { /*THE ANSWER!*/ 
      
      width:90%;
      height:90%;
    }
  
    .rectangle4-div {
      width:90%;
      height:90%;
    }
  
    .rectangle5-div {
      width:90%;
      height:90%;
    }
  
    .rectangle6-div
     {
      width:90%;
      height:90%;
    } 
  
  
    .recpic1-div{
      width:90%;
      height:90%;
    }
  
    .imgVs{
      width:90%;
      height:90%;
  
    }
  
    .imgcomserve{
      width:90%;
      height:90%;
  
    }
  
    .imglinkedln{
      width:90%;
      height:90%;
  
    }
  
  
    .imglinkedln:hover{
      
      
        transform: rotate(0deg) skew(0deg) translate(0, -2px);
    }
  
    
  
    .imgfacebook{
      width:90%;
      height:90%;
      
  
    }
   
    .imgfacebook:hover{
      
      transform: rotate(0deg) skew(0deg) translate(0, -2px);
  
    }
    .recpic2-div {
      width:90%;
      height:90%;
  
      
    }
  
    .imgcoding{
      width:90%;
      height:90%;
    }
  
  
    .recpic3-div {
      width:90%;
      height:90%;
    }
  
    .imgtesting{
      width:90%;
      height:90%;
  
    }
  
  
    .recpic4-div {
      width:90%;
      height:90%;
  
      
    }
  
    .imgarduino{
      width:90%;
      height:90%;
    }
  
    
    .picture1-div {
      width:90%;
      height:90%;
    
    }
  
  
    .imgpcb{
      width:90%;
      height:90%;
    }
  
  
    .picture2-div {
      width:90%;
      height:90%;
    }
  
  
    .btn-hover {
  
      width:90%;
      height:90%;
  }
  
  .btn-hover:hover {
      background-position: 100% 0;
      -moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
  }
  
  .btn-hover:focus {
      outline: none;
  }
  
  
  .btn-hover.color-8 {
    width:90%;
      height:90%;
    
  }}

    @media screen and (max-width: 768px) {
      /*For Laptops*/
      .homebutton {
    
        width:90%;
        height:90%;
  
        
      }
    
      .homebutton:after {
        width:90%;
        height:90%;
      }
      
    
    
      .homebutton:hover:after {
        transform: scaleX(1);
        transform-origin: bottom center;
      }
    
    
    
      .certificationbutton{
       
        width:90%;
        height:90%;
      }
    
      .certificationbutton:after {
        width:90%;
        height:90%;
      }
      
    
    
      .certificationbutton:hover:after {
        transform: scaleX(1);
        transform-origin: bottom center;
      }
    
     
      .worksbutton{
    
        width:90%;
        height:90%;
        
        
       
        
      }
    
    
      .worksbutton:after {
        width:90%;
        height:90%;
      }
      
    
    
      .worksbutton:hover:after {
        transform: scaleX(1);
        transform-origin: bottom center;
      }
    
      .text1-div{
    
        width:90%;
        height:90%;
      }
    
    
      .text2-div{
    
        width:90%;
        height:90%;
        }
    
    
        .text3-div{
    
          width:90%;
          height:90%;
          }
      
          .text4-div{
            width:90%;
        height:90%;
            }
    
    
            .text5-div{
              width:90%;
              height:90%;
    
              }
    
              .text6-div{
                width:90%;
                height:90%;
    
                }
      
    
                .text7-div{
                  width:90%;
                  height:90%;
      
                  }
    
    
                  .text8-div{
                    width:90%;
                    height:90%;
                    }
      
    
    
    
      .rectangle1-div {
        width:90%;
        height:90%;
        
        
      }
    
      .rectangle2-div {
        
        width:90%;
        height:90%;
        
        
       
      }
    
    
      .rectangle3-div { /*THE ANSWER!*/ 
        
        width:90%;
        height:90%;
      }
    
      .rectangle4-div {
        width:90%;
        height:90%;
      }
    
      .rectangle5-div {
        width:90%;
        height:90%;
      }
    
      .rectangle6-div
       {
        width:90%;
        height:90%;
      } 
    
    
      .recpic1-div{
        width:90%;
        height:90%;
      }
    
      .imgVs{
        width:90%;
        height:90%;
    
      }
    
      .imgcomserve{
        width:90%;
        height:90%;
    
      }
    
      .imglinkedln{
        width:90%;
        height:90%;
    
      }
    
    
      .imglinkedln:hover{
        
        
          transform: rotate(0deg) skew(0deg) translate(0, -2px);
      }
    
      
    
      .imgfacebook{
        width:90%;
        height:90%;
        
    
      }
     
      .imgfacebook:hover{
        
        transform: rotate(0deg) skew(0deg) translate(0, -2px);
    
      }
      .recpic2-div {
        width:90%;
        height:90%;
    
        
      }
    
      .imgcoding{
        width:90%;
        height:90%;
      }
    
    
      .recpic3-div {
        width:90%;
        height:90%;
      }
    
      .imgtesting{
        width:90%;
        height:90%;
    
      }
    
    
      .recpic4-div {
        width:90%;
        height:90%;
    
        
      }
    
      .imgarduino{
        width:90%;
        height:90%;
      }
    
      
      .picture1-div {
        width:90%;
        height:90%;
      
      }
    
    
      .imgpcb{
        width:90%;
        height:90%;
      }
    
    
      .picture2-div {
        width:90%;
        height:90%;
      }
    
    
      .btn-hover {
    
        width:90%;
        height:90%;
    }
    
    .btn-hover:hover {
        background-position: 100% 0;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    
    .btn-hover:focus {
        outline: none;
    }
    
    
    .btn-hover.color-8 {
      width:90%;
        height:90%;
      
    }
      }
      
      @media screen and (max-width: 992px) {
      /*For Large Laptops*/
      .homebutton {
    
        width:90%;
        height:90%;
  
        
      }
    
      .homebutton:after {
        width:90%;
        height:90%;
      }
      
    
    
      .homebutton:hover:after {
        transform: scaleX(1);
        transform-origin: bottom center;
      }
    
    
    
      .certificationbutton{
       
        width:90%;
        height:90%;
      }
    
      .certificationbutton:after {
        width:90%;
        height:90%;
      }
      
    
    
      .certificationbutton:hover:after {
        transform: scaleX(1);
        transform-origin: bottom center;
      }
    
     
      .worksbutton{
    
        width:90%;
        height:90%;
        
        
       
        
      }
    
    
      .worksbutton:after {
        width:90%;
        height:90%;
      }
      
    
    
      .worksbutton:hover:after {
        transform: scaleX(1);
        transform-origin: bottom center;
      }
    
      .text1-div{
    
        width:90%;
        height:90%;
      }
    
    
      .text2-div{
    
        width:90%;
        height:90%;
        }
    
    
        .text3-div{
    
          width:90%;
          height:90%;
          }
      
          .text4-div{
            width:90%;
        height:90%;
            }
    
    
            .text5-div{
              width:90%;
              height:90%;
    
              }
    
              .text6-div{
                width:90%;
                height:90%;
    
                }
      
    
                .text7-div{
                  width:90%;
                  height:90%;
      
                  }
    
    
                  .text8-div{
                    width:90%;
                    height:90%;
                    }
      
    
    
    
      .rectangle1-div {
        width:90%;
        height:90%;
        
        
      }
    
      .rectangle2-div {
        
        width:90%;
        height:90%;
        
        
       
      }
    
    
      .rectangle3-div { /*THE ANSWER!*/ 
        
        width:90%;
        height:90%;
      }
    
      .rectangle4-div {
        width:90%;
        height:90%;
      }
    
      .rectangle5-div {
        width:90%;
        height:90%;
      }
    
      .rectangle6-div
       {
        width:90%;
        height:90%;
      } 
    
    
      .recpic1-div{
        width:90%;
        height:90%;
      }
    
      .imgVs{
        width:90%;
        height:90%;
    
      }
    
      .imgcomserve{
        width:90%;
        height:90%;
    
      }
    
      .imglinkedln{
        width:90%;
        height:90%;
    
      }
    
    
      .imglinkedln:hover{
        
        
          transform: rotate(0deg) skew(0deg) translate(0, -2px);
      }
    
      
    
      .imgfacebook{
        width:90%;
        height:90%;
        
    
      }
     
      .imgfacebook:hover{
        
        transform: rotate(0deg) skew(0deg) translate(0, -2px);
    
      }
      .recpic2-div {
        width:90%;
        height:90%;
    
        
      }
    
      .imgcoding{
        width:90%;
        height:90%;
      }
    
    
      .recpic3-div {
        width:90%;
        height:90%;
      }
    
      .imgtesting{
        width:90%;
        height:90%;
    
      }
    
    
      .recpic4-div {
        width:90%;
        height:90%;
    
        
      }
    
      .imgarduino{
        width:90%;
        height:90%;
      }
    
      
      .picture1-div {
        width:90%;
        height:90%;
      
      }
    
    
      .imgpcb{
        width:90%;
        height:90%;
      }
    
    
      .picture2-div {
        width:90%;
        height:90%;
      }
    
    
      .btn-hover {
    
        width:90%;
        height:90%;
    }
    
    .btn-hover:hover {
        background-position: 100% 0;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    
    .btn-hover:focus {
        outline: none;
    }
    
    
    .btn-hover.color-8 {
      width:90%;
        height:90%;
      
    }
      }
      
      @media screen and (max-width: 1280px) {
      /*For Big TV's (HD Screens) */
          .html {
              width: 1250px;
          }
      }
      
      
      @media screen and (max-width: 1920px) {
      /*For Projectors or Higher Resolution Screens (Full HD)*/
          .html {
              width: 1890px;
          }
      }
      @media screen and (max-width: 3840px) {
      /*For 4K Displays (Ultra HD)*/
          .html {
              width: 3810px;
          }
      }

