
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');



* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
}



body {
    position: absolute;
    height: 2500px;
    
    width: 1366px;
    
    padding: 0; 
    margin: 0;
    background: #131313;
    
  }

  
  .homebutton {
    
    font-size: medium;
    position: absolute;
    width: 172px;
    height: 49px;
    left: 440px;
    top: 0px;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    justify-content:center;
    align-items: center;
    display: flex;
    background-color: rgba(0,0,0,.5);
    box-shadow: inset 0 0 0 0 black;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration: none;
    
    color: #0087ca;
    
  }

  .homebutton:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #41424C;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
  }
  


  .homebutton:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }



  .certificationbutton{
   
    font-size: medium;
  
    position: absolute;
    width: 171px;
    height: 49px;
    left: 612px;
    top: 0px;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    text-decoration:none;

    font-family: 'Muli', sans-serif;
    cursor: pointer;
    justify-content:center;
    align-items: center;
    display: flex;
    box-shadow: inset 0 0 0 0 black;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    
  }

  .certificationbutton:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #41424C;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
  }
  


  .certificationbutton:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }

 
  .worksbutton{

    font-size: medium;
    font-family: 'Muli', sans-serif;
    cursor: pointer;
    justify-content:center;
    align-items: center;
    display: flex;

    position: absolute;
    width: 172px;
    height: 49px;
    left: 783px;
    top: 0px;
    text-align: center;
    background-color: rgba(0,0,0,.5);

    box-shadow: inset 0 0 0 0 black;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    
    
   
    
  }


  .worksbutton:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #41424C;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
  }
  


  .worksbutton:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }

  .text1-div{

  position: absolute;
  min-width: 600px;
  min-height: 36px;
  left: 18px;
  top: 131px;
  text-align-last: center;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  /* identical to box height */
  
  
  color: #FFFFFF;
  }


  .text2-div{

    position: absolute;
    width: 360px;
    height: 38px;
    left: 142px;
    top: 185px;
    text-align-last: center;

    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;

    color: #FFFFFF;
    }


    .text3-div{

      position: absolute;
      width: 478px;
      height: 44px;
      left: 78px;
      top: 300px;
      text-align-last: center;

      font-family: 'Muli', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 36px;

      color: #FFFFFF;
      }
  
      .text4-div{
        position: absolute;
        width: 537px;
        height: 80px;
        left: 50px;
        top: 600px;
        
        font-family: 'Quicksand', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        
        color: #FFFFFF;
        }


        .text5-div{
          z-index: 1 ;
          position: absolute;
          width: 401px;
          height: 112px;
          left: 286px; /* -50 */
          top: 855px;

          font-family: 'Quicksand', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 60px;
          line-height: 56px;
          text-align: center;

          color: #000000;

          }

          .text6-div{
            z-index: 1 ;
            position: absolute;
            width: 401px;
            height: 112px;
            left: 683px;
            top: 1230px;

            font-family: 'Quicksand', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 60px;
            line-height: 56px;
            text-align: center;

            color: #000000;

            }
  

            .text7-div{
              z-index: 1 ;
              position: absolute;
              width: 401px;
              height: 112px;
              left: 286px;
              top: 1687px;

              font-family: 'Quicksand', sans-serif;
              font-style: normal;
              font-weight: 700;
              font-size: 60px;
              line-height: 56px;
              text-align: center;

              color: #000000;
  
              }


              .text8-div{
                z-index: 1 ;
                position: absolute;
                width: 401px;
                height: 112px;
                left: 687px;
                top: 2093px;

                font-family: 'Quicksand', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 60px;
                line-height: 56px;
                text-align: center;

                color: #000000;
                }
  



  .rectangle1-div {
    box-sizing: border-box;

    position: absolute;
    width: 1465px;
    height: 49px;
    left: -10px;
    top: 0px;
    font-family: 'Muli', sans-serif;
  
    background-color: Black;
    
    
  }

  .rectangle2-div {
    box-sizing: border-box;
    z-index:-1; /*position of rectangle send to back*/

    position: absolute;
    width: 550px;
    height: 1443px;
    left: 430px;
    top: -455px;
    
    background: linear-gradient(180deg, #040404 26.04%, rgba(0, 0, 0, 0.25) 100%);
    
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    
    transform: rotate(-90deg);
  }


  .rectangle3-div {
    position: absolute;
    width: 582px;
    height: 309px;
    left: 195px;
    top: 756px;

    background: whitesmoke;
  }

  .rectangle4-div {
    position: absolute;
    width: 582px;
    height: 309px;
    left: 586px;
    top: 1172px;

    background: whitesmoke;
  }

  .rectangle5-div {
    position: absolute;
    width: 582px;
    height: 309px;
    left: 195px;
    top: 1588px;

    background: whitesmoke;
  }

  .rectangle6-div {
    position: absolute;
    width: 582px;
    height: 309px;
    left: 586px;
    top: 2004px;

    background: whitesmoke;
  } 


  .recpic1-div{
    position: absolute;
    
    left: 775px;
    top: 756px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0 auto;
  }

  .imgVs{
    position: absolute;
    left: 100px;
    top: 0px;
    max-width: 100px;
    max-height: 50px

  }

  .imgcomserve{
    width: 391px;
    height: 309px;

  }

  .imglinkedln{
    position: absolute;
    left: 1080px;
    top: 9px;
    max-width: 60px;
    max-height: 30px;
    

  }


  .imglinkedln:hover{
    
    
      transform: rotate(0deg) skew(0deg) translate(0, -2px);
  }

  

  .imgfacebook{
    position: absolute;
    left: 1140px;
    top: 8px;
    max-width: 80px;
    max-height: 35px;
    

  }
 
  .imgfacebook:hover{
    
    transform: rotate(0deg) skew(0deg) translate(0, -2px);

  }
  .recpic2-div {
    position: absolute;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0 auto;
    
    left: 195px;
    top: 1172px;

    
  }

  .imgtesting{
    width: 391px;
    height: 309px;

  }

  .recpic3-div {
    position: absolute;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0 auto;
    
    left: 777px;
    top: 1588px;
  }


  .imgcoding{
    width: 391px;
    height: 309px;
  }

  .recpic4-div {
    position: absolute;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0 auto;
    
    left: 195px;
    top: 2004px;

    
  }

  .imgarduino{
    min-width: 391px;
    max-height: 309px;
  }

  
  .picture1-div {
    z-index:-4;

    left: 200px;
    top: -100px;

    
   
    background-repeat: no-repeat;
    box-sizing: border-box;

    position: absolute;
    
    background-position: center center;
    text-align:center;
    margin:auto;
    padding:0;
  
  }


  .imgpcb{
    min-width: 1364px;
    max-height: 641px;
  }


  .picture2-div {
    position: absolute;
    width: 413px;
    height: 490px;
    left: 750px;
    top: 52px;
   
    
    background: url(chosen_13_BOCANOG_VERLANNE_PAUL_89201-removebg-preview.png);
  }


  .btn-hover {
   
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    left: 170px;
    top: 440px;
    color: #fff;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    justify-content:center;
    align-items: center;
    display: flex;
    

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}


.btn-hover.color-8 {

  position: absolute;
  width: 289px;
  height: 35px;
  left: 145px;
  top: 350px;
  background-image: linear-gradient(to right, #29323c, #485563, #202020, #8C0D07);
  box-shadow: 0 4px 15px 0 rgba(11, 12, 12, 0.75);
  
}



  /*.buttoncv {

    position: absolute;
    width: 289px;
    height: 35px;
    left: 170px;
    top: 440px;
    text-align: center;
    transition-duration: 0.4s;
    
    cursor: pointer;
    font-family: Tahoma;
    justify-content:center;
    align-items: center;
    display: flex;

    background: #FFFFFF;
    
  }


  .buttoncv:hover {
    
    background-color: gray;
    color: white;
    
  }*/


  @media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }}

    @media screen and (min-width: 768px) {
      /*For Laptops*/
          .container {
              width: 738px;
          }
      }
      
      @media screen and (min-width: 992px) {
      /*For Large Laptops*/
          .container {
              width: 962px;
          }
      }
      
      @media screen and (min-width: 1280px) {
      /*For Big TV's (HD Screens) */
          .container {
              width: 1250px;
          }
      }
      
      
      @media screen and (min-width: 1920px) {
      /*For Projectors or Higher Resolution Screens (Full HD)*/
          .container {
              width: 1890px;
          }
      }
      @media screen and (min-width: 3840px) {
      /*For 4K Displays (Ultra HD)*/
          .container {
              width: 3810px;
          }
      }

