 
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');



* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

html
{
    overflow-x: hidden; 
    overflow-anchor: none;
}

body {
    text-align: center;
    margin:0 auto;
    min-width: 1366px;
    width:100%;
    height: 2500px;
    background: #131313; 
    overflow-x: hidden; 
    overflow-anchor: none;
  }

/*--------HEADER------------*/

  .header-div {
    box-sizing: border-box;
    position: absolute;
    height: 49px;
    left: 0px;
    top: 0px;
    min-width: 1366px;
    width:100%;
    text-align: center;
    align-items: center;
    display:block;
    
    
    margin:0 auto;
    padding:0;
   
    background-color: black;  
  } 


  .imgVs{
    
    position: relative;
    margin:0 auto;
    left: -540px;
    top: 0px;
    max-width: 100px;
    max-height: 50px;

  }




  .homebutton {
    
    font-size: medium;
    position: relative;
    margin:0 auto;
    width: 172px;
    height: 51px;
    left: -164px;
    top: -500px;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    justify-content:center;
    align-items: center;
    display: flex;
    background-color: rgba(0,0,0,.5);
    box-shadow: inset 0 0 0 0 black;
    
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration: none;
    
    color: #0087ca;
    
  }

  .homebutton:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #41424C;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
  }
  


  .homebutton:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }



  .certificationbutton{
   
    font-size: medium;
    margin:0 auto;
    position: relative;
    width: 171px;
    height: 51px;
    left: 7px;
    top: -551px;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    text-decoration:none;

    font-family: 'Muli', sans-serif;
    cursor: pointer;
    justify-content:center;
    align-items: center;
    display: flex;
    box-shadow: inset 0 0 0 0 black;
   
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    
  }

  .certificationbutton:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #41424C;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
  }
  


  .certificationbutton:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }

 
  .worksbutton{

    font-size: medium;
    font-family: 'Muli', sans-serif;
    cursor: pointer;
    justify-content:center;
    align-items: center;
    display: flex;

    margin:0 auto;
    position: relative;

    width: 172px;
    height: 49px;
    left: 179px;
    top: -600px;
    text-align: center;
    background-color: rgba(0,0,0,.5);

    box-shadow: inset 0 0 0 0 black;
  
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    
    
   
    
  }


  .worksbutton:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #41424C;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
  }
  


  .worksbutton:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }


  .imglinkedln{
    
   position: relative;
    margin:0 auto;
    left:400px;
    
    top: -645px;
    max-width: 60px;
    max-height: 30px;
    

  }


  .imglinkedln:hover{
    
    
      transform: rotate(0deg) skew(0deg) translate(0, -2px);
  }

  

  .imgfacebook{
    position: relative;
    margin:0 auto;
    left:430px;
    
    top: -642px;
    max-width: 80px;
    max-height: 35px;
    

  }
 
  .imgfacebook:hover{
    
    transform: rotate(0deg) skew(0deg) translate(0, -2px);
  }

/*----------------------------------------------------------------*/

/*CONTAINER 2*/



.container2{

  background-color: transparent;
  text-align: center;
  align-items: center;
  display:block;
  height:525px;
  overflow-anchor: none;
 
  line-height: 90px; 

  box-sizing: border-box;
  min-width: 1366px;
  width:100%;

  position: absolute;
  left:0px;
  right:0px;
  
  margin:0 auto;
  


}

.childcontainer2{

  background-color: transparent;
  text-align: center;
  align-items: center;
  
  left:-280px;
  height:500px;
  
  top: -70px;
  line-height: 90px; 

  
  width: 800px;
  

  position: relative;

  margin: 0 auto;

}

      .offer-div{

        position: absolute;
        min-width: 1366px;
        width:100%;
        height: 80px;
        color:white;
        top: 583px;
        left: 0;
        background-color: #131313;
        display:flex;
        margin: 0 auto;


      }

      .offerchild-div{

        position: relative;
        width: 537px;
        height: 80px;
        
        left:-300px;
        margin: 0 auto;
        display:flex;
        align-items: center;
        
       

        font-family: 'Quicksand', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        
        color: #FFFFFF;
        }


        .text5-div{
          z-index: 1 ;
          position: absolute;
          width: 401px;
          height: 112px;
          left: 336px; /* -50 */
          top: 855px;

          font-family: 'Quicksand', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 60px;
          line-height: 56px;
          text-align: center;

          color: #000000;

          }


/*---------------------------------------------------------------------------*/


  .rectangle2-div {
    box-sizing: border-box;
    z-index:-1; /*position of rectangle send to back*/

    position: absolute;
    min-width: 1366px;
    width:100%;
    height:541px;
    left: 0px;
    top: 0px;
    
    background: linear-gradient(90deg, #040404 26.04%, rgba(0, 0, 0, 0.25) 100%);
    

   
  }




.container3-div{
  
  
  box-sizing: border-box;


  position: absolute;
  min-width: 1366px;
  width:100%;
  top: 756px;
  left:0;
  background-color:#131313;

  text-align: center;
  align-items: center;
  display:block;
    
  margin:0 auto;
  padding:0;
 
 

}
  
  .childrec3-div {

    position: relative;
    max-width: 582px;
    width:100%;
    height: 309px;
    
    left:-213px;
    margin-left:auto;
    margin-right: auto;
    right: 0;
    
    display:flex;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 56px;
    text-align: center;

    color: #000000;
    
    background: whitesmoke;
  }



  .container4-div{

    position: absolute;
    min-width: 1366px;
    width:100%;
    top: 1172px;
    left:0px;
    background-color:#131313;
   
  
  }

  .childrec4-div {
    position: relative;
    width: 582px;
    height: 309px;
    margin: 0 auto;
    left:-213px;
    display:flex;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 56px;
    text-align: center;

    color: #000000;
    
    background: whitesmoke;
  }


  .container5-div{

    position: absolute;
    min-width: 1366px;
    width:100%;
    top: 1588px;
    left:0px;
    background-color:#131313;
  }

  .childrec5-div {
    position: relative;
    width: 582px;
    height: 309px;
    margin: 0 auto;
    left:-213px;
    display:flex;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 56px;
    text-align: center;

    color: #000000;
    
    background: whitesmoke;
  }


  .container6-div{

    position: absolute;
    min-width: 1366px;
    width:100%;
    top: 2004px;
    left:0px;
    background-color:#131313;
  }


  .childrec6-div {
    position: relative;
    width: 582px;
    height: 309px;
    margin: 0 auto;
    left:-213px;
    display:flex;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 56px;
    text-align: center;

    color: #000000;
    
    background: whitesmoke;
  }


  .recpic1-div{
    
    position: relative;
    left:77px;
    top: 756px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0 auto;
  }

  
  .imgcomserve{
    position:absolute;
    margin:0 auto;
    width: 391px;
    height: 309px;

  }

  

  .recpic2-div {
    position: relative;
    left:77px;
    top: 1172px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0 auto;

    
  }

  .imgcoding{
    position:absolute;
    margin:0 auto;
    width: 391px;
    height: 309px;
  }


  .recpic3-div {
    position: relative;
    left:77px;
    top: 1588px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0 auto;
  }


   .imgtesting{
    position:absolute;
    margin:0 auto;
    width: 391px;
    height: 309px;

  }

  .recpic4-div {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0 auto;
    
    left:77px;
    top: 2004px;

    
  }

  .imgarduino{
    position:absolute;
    margin:0 auto;
    min-width: 391px;
    max-height: 309px;
  }

  
  .picture1-div {
    z-index:-4;

    left: 0px;
    top: -100px;

    min-width: 1366px;
    width:100%;
   
    
    background-repeat: no-repeat;
    box-sizing: border-box;

    position: absolute;
    
    background-position: center center;
    text-align:center;
    margin:0 auto;
    padding:0;
  
  }


  .imgpcb{
    min-width: 1366px;
    width:100%;
    height: 641px;
    
  }


  .picture2-div {
    position: relative;
    width: 421px;
    height: 498px;
    left: 250px;
    top: 43px;
    margin:0 auto;
   
    
    background: url(chosen_13_BOCANOG_VERLANNE_PAUL_89201-removebg-preview.png);
  }


  .btn-hover {
   
    width: 200px;
    font-size: 16px;
    font-weight: 600;

    margin:0 auto;
    
    top: 440px;
    color: #fff;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    justify-content:center;
    align-items: center;
    display: flex;
    

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}


.btn-hover.color-8 {

  position: absolute;
  width: 289px;
  height: 35px;
  left: 235px;
  top: 350px;
  background-image: linear-gradient(to right, #29323c, #485563, #202020, #8C0D07);
  box-shadow: 0 4px 15px 0 rgba(11, 12, 12, 0.75);
  
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .html {
    width: 80%;
    padding: 0;
  }
  .body {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .html {
    width: 100%;
  }}

  @media screen and (min-width: 768px) {
    /*For Laptops*/
        .html {
            width: 738px;
        }
    }
    
    @media screen and (min-width: 992px) {
    /*For Large Laptops*/
        .html {
            width: 962px;
        }
    }
    
    @media screen and (min-width: 1280px) {
    /*For Big TV's (HD Screens) */
        .html {
            width: 1250px;
        }
    }
    
    
    @media screen and (min-width: 1920px) {
    /*For Projectors or Higher Resolution Screens (Full HD)*/
        .html {
            width: 1890px;
        }
    }
    @media screen and (min-width: 3840px) {
    /*For 4K Displays (Ultra HD)*/
        .html {
            width: 3810px;
        }
    }




  