
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
  overflow-anchor: none;
}

body {
  text-align: center;
  min-width: 1366px;
  width:100%;
  height: 1000px;
  background: #131313; 
  overflow-x: hidden;
  overflow-anchor: none;
}

.header-div {
  box-sizing: border-box;
  position: absolute;
  height: 49px;
  left: 0px;
  top: 0px;
  min-width: 1366px;
  width:100%;
  text-align: center;
  align-items: center;
  display:block;
  
  margin:0 auto;
  padding:0;
 
  background-color: black;  
} 


.imgVs{
  
    
  position: relative;
  margin:0 auto;
  left: -540px;
  top: -49px;
  max-width: 170px;
  max-height: 120px;



}

.homebutton {
  position: relative;
  font-size: medium;
  

  margin:0 auto;

  width: 172px;
  height: 51px;
  left: -164px;
  top: -209px;
  cursor: pointer;
  font-family: 'Muli', sans-serif;
  justify-content:center;
  align-items: center;
  display: flex;
  background-color: rgba(0,0,0,.5);
  box-shadow: inset 0 0 0 0 black;
  
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  text-decoration: none;
  
  color: white;
  
}

.homebutton:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #8C0D07;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}



.homebutton:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}



.certificationbutton{
 
  font-size: medium;
  margin:0 auto;
  position: relative;
  width: 171px;
  height: 51px;
  left: 7px;
  top: -276px;
  text-align: center;
  background-color: rgba(0,0,0,.5);
  text-decoration:none;

  font-family: 'Muli', sans-serif;
  cursor: pointer;
  justify-content:center;
  align-items: center;
  display: flex;
  box-shadow: inset 0 0 0 0 black;
 
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  
}

.certificationbutton:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #8C0D07;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}



.certificationbutton:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}


.worksbutton{

  font-size: medium;
  font-family: 'Muli', sans-serif;
  cursor: pointer;
  justify-content:center;
  align-items: center;
  display: flex;

  margin:0 auto;
  position: relative;

  width: 172px;
  height: 49px;
  left: 179px;
  top: -325px;
  text-align: center;
  background-color: rgba(0,0,0,.5);

  box-shadow: inset 0 0 0 0 black;

  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  
  
 
  
}


.worksbutton:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #8C0D07;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}



.worksbutton:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}



/*--------------------------------------------------*/



.carousel {
  position: relative;
  margin: 0 auto;
  left:-100px;
  top:200px;
  z-index: 1;
  
}

.carousel__item {
  height: 700px;
  background: #131313;
  padding: 100px;
  margin-left: 225px;
  color: #ffffff;
  display: none;
  z-index: -1;
}

.carousel__item--selected {
  display: block;
}

.carousel__nav {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 120px;
  text-align: center;
}

.carousel__button {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: rgba(134, 134, 134, 0.938);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;

}

.carousel__button--selected {
  background: whitesmoke;
}

 


/*--------------------------------*/




.container1{

  position: absolute;
  text-align: center;
  min-width: 1366px;
  width:100%;
  height: 60px;
  left: -116px;
  top: 134px;
  margin:0 auto;
  
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 56px;
  text-align: center;
  
  color: #FFFFFF;

}

      .text1-div{
        margin:0 auto;
        text-align: center;
        position: relative;
        width: 400px;
        height: 60px;
        left: -480px;
        top: 0px;
        margin:0 auto;
        font-family: 'Quicksand', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 56px;
        text-align: center;
        
        color: #FFFFFF;
    
    }


    .line1-div{


    position: relative;
    text-align: center;
    margin:0 auto;
    width: 1300px;
    height: 0px;
    left: 100px;
    top: 10px;
    z-index: 1;

    border: 1px solid #8C0D07;
    }


   
                @media only screen and (max-width:800px) {
                  /* For tablets: */
                  .html {
                    width: 80%;
                    padding: 0;
                  }
                  .body {
                    width: 100%;
                  }
                }
                @media only screen and (max-width:500px) {
                  /* For mobile phones: */
                  .html {
                    width: 100%;
                  }}

                  @media screen and (min-width: 768px) {
                    /*For Laptops*/
                        .html {
                            width: 738px;
                        }
                    }
                    
                    @media screen and (min-width: 992px) {
                    /*For Large Laptops*/
                        .html {
                            width: 962px;
                        }
                    }
                    
                    @media screen and (min-width: 1280px) {
                    /*For Big TV's (HD Screens) */
                        .html {
                            width: 1250px;
                        }
                    }
                    
                    
                    @media screen and (min-width: 1920px) {
                    /*For Projectors or Higher Resolution Screens (Full HD)*/
                        .html {
                            width: 1890px;
                        }
                    }
                    @media screen and (min-width: 3840px) {
                    /*For 4K Displays (Ultra HD)*/
                        .html {
                            width: 3810px;
                        }
                    }
               